<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="icon" href="https://kui-1259519993.cos.ap-guangzhou.myqcloud.com/ehome_kui/favicon.jpg" sizes="64x64">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>登录</title>
    <link rel="stylesheet" href="./css/iconfont.css">
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <div class="login-box">
        <h1>登录</h1>
        <div class="input-box">
            <div class="input-text">
                <span class='iconfont icon-mine'></span>
                <input type="text" placeholder="用户名" maxlength="11" id="username">
            </div>
            <div class="input-text">
                <span class='iconfont icon-lock'></span>
                <input type="password" placeholder="密码" id="password">
            </div>
            <div class="input-btn" id="submit_login">登录</div>
        </div>
    </div>
</body>
<script src="./js/login.js"></script>

</html>